# python binaries
*.py[cod]

# vim swap files
*.swp

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
#!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.idea

/sample data/

.mypy_cache